.Premium-gallary {
    font-size: 2rem;
    font-family: 'Montserrat';
    font-weight: normal;
    color: #444;
    text-align: center;
    margin: 2rem 0;
 margin-bottom: 80px;

}
h1 {
    text-transform: uppercase;
    
}
.Premium-gallary1 {
    font-size: 2rem;
    font-family: 'Montserrat';
    font-weight: normal;
    color: #444;
    text-align: center;
    margin: 2rem 0;
    text-transform: capitalize;
}
.about-image-container {
    position: relative;
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}


.about-image-container {
    position: relative;
    width: 100%;
    /* height: 280px; */
}

.about-image-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    filter: brightness(50%);
    /* Darkens the image */
}


.breadcrumb {
    text-align: left;
    margin-top: 10px;
    font-size: 16px;
    font-weight: normal;
}

.breadcrumb a {
    color: #ffffff;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.text h1 {
    text-decoration: underline 3px #ff4500;
    text-underline-offset: 15px;
        font-size: 50px;
    font-weight: 700;
}

.text p {
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.text p a {
    text-decoration: none;
    font-weight: 700;
}

.text p a:hover {
    text-decoration: underline 2px white
}

/* slider section start */

.gallary-section {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 50px 10%;
/*   background-color: #f0f9e0; */
        width: 100%;
        gap: 10px;
    }

    .text-content {
        max-width: 45%;
        transition: transform 0.3s ease-in-out;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        text-align:center;
    }

    .slider {
        max-width: 50%;
    }

/*     .btn-custom {
        background-color: #8c6239;
        color: white;
        border: none;
        padding: 10px 20px;
        text-transform: uppercase;
    }
 */
.readmore-btn {
  padding: 12px 20px;
  font-size: 1rem;
  border: 2px solid #001b41;
  background: #001b41;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color:#fff;
}
    .slides>img {
        width: 550px;
        height: 360px;
    }

.slider {
        width: 500px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    .slides {
        display: flex;
        width: 300%;
        /* Adjust based on number of slides */
        animation: slide 25s infinite alternate ease-in-out;
    }

    .slides>img {
        width: 500px;
        height: 350px;
    }

    @keyframes slide {
        0% {
            transform: translateX(0);
        }

        25% {
            transform: translateX(-300px);
        }

        50% {
            transform: translateX(-500px);
        }

        100% {
            transform: translateX(-1000px);
        }
    }

    .prev,
    .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }

    /* slider Responsive Design */
    @media (max-width: 900px) {
        .gallary-section {
            flex-direction: column;
            width: 100%;
        }

        .text-content {
            max-width: 100%;
        }

        .slider {
            max-width: 100%;
        }
    }

    @media (max-width: 600px) {
        .gallary-section {
            flex-direction: column;
            width: 100%;

        }

        .text-content {
            max-width: 100%;
        }

        .slider {
            max-width: 100%;
        }

        .slides>img {
            max-width: 100%;
            height: 200px;
        }
    }
/* slider end */

/* Gallary Section */

    .gallary-data {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 10px;
        justify-content: center;
        /* margin: 20px; */
/*         margin-top: 30px; */
        padding: 50px 10%;
        text-align: center;
    }

    /* Gallary */
    .gallary-room {
        background: white;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
/*         box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
        transition: transform 0.3s ease-in-out;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
/*         padding:10px; */
    }

    .gallary-room:hover {
        transform: translateY(-5px);
    }

    .gallary-room>img {
        border-radius: 5px;
        width: 300px;
        height: 200px;
    }

    .gallary-room>h4 {
        margin-top: 10px;
    }

    .gallary-room>p {
        color: black;
    }

    /* gallary 3images Responsive Design */
    @media (max-width: 900px) {
        .room-images {
            grid-template-columns: repeat(2, 1fr);
        }

        .gallary-room>img {
            width: 100%;
        }

        .slides>img {
            width: 100%;

        }
    }

    @media (max-width: 600px) {
        .room-images {
            grid-template-columns: 1fr;
        }
    }




/* gallary section end */

/* carousal section start */
 .custom-sliders-wrapper {
            
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 50px 10%;
        }

        .custom-slider-container {
            position: relative;
            width: 100%;
            overflow: hidden;
            border-radius: 10px;
        }

        .custom-slider-item {
            display: none;
            width: 100%;
            text-align: center;
            position: relative;
        }

           .custom-slider-item img {
            width: 500px;
            height: 400px;
            object-fit: cover;
            border-radius: 5px;
             text-align: center;
        }

        .custom-slider-text {
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 10px;
            text-align: center;
        }

        .custom-active {
            display: block;
        }

        .custom-prev,
        .custom-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;
        }

        .custom-prev {
            left: 10px;
        }

        .custom-next {
            right: 10px;
        }

        .custom-gallery-title {
            font-size: 1.5rem;
            font-family: 'Montserrat';
            font-weight: normal;
            color: #444;
            text-align: center;
            margin: 2rem 0;
        }

custom-slider-text h2{
    font-size:1.2rem;
}


/* carousal section end  */



/* second slider */

        .slider-container-party {
            position: relative;
            width: 100%;
            margin: auto;
            overflow: hidden;
            /* border-radius: 10px; */
/*    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3); */
        }

        .slider-party {
            display: flex;
            transition: transform 0.01s ease-in-out;
            width: 100%;
            /* margin-top: 30px; */
        }

        .slide-party {
            min-width: 100%;
        }

        .slide-party>img {
            width: 100%;
            height: auto;
/*             object-fit: cover; */
            /* border-radius: 10px; */
            /* margin-top:1px ; */
        }

        .prev,
        .next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            font-size: 18px;
        }

        .prev {
            left: 10px;
        }

        .next {
            right: 10px;
        }
/*     end */

* ////////////////// */

 .main-slider {
            max-width: 100%;
            margin: auto;
            padding: 50px 10%;
            text-align: center;
            
        }
        .main-slider img {
            width: 100%;
            height: 200px;
            max-width: 300px;
            cursor: pointer;
            padding: 10px;
            
        }
        .popup-slider-container {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            justify-content: center;
            align-items: center;
            z-index:1;
        }
        .popup-slider-content {
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            position: relative;
            width: 90%;
            max-width: 600px;
            z-index:1;
            
        }
        .close-popup-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            font-size: 20px;
            padding:1px 4px;
            border-radius: 50%;
        }
        .inner-carousel img {
            padding: 10px;
            width: 100%;
            height: 300px;
            border-radius: 20px;
        }
        @media (max-width: 768px) {
            .main-slider img {
                max-width: 100%;
            }
        }
 
/* /////////////////////////////////// */

